<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/okta}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="'Hi ' + ${profile.get('name')} + '! You are logged in!'"></h2>
    <h1>Invitation</h1>
    <form action="#" th:action="@{/invite}" th:object="${inviteUserForm}" method="post">
        <div>
            <label for="username">GC username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" />
            <ul>
                <li th:each="err : ${#fields.errors('username')}" th:text="${err}" style="color: red;"></li>
            </ul>
        </div>
        <div>
            <label for="phoneNumber">Phone number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" />
            <ul>
                <li th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" style="color: red;"></li>
            </ul>
        </div>
        <div>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </div>
    </form>
</div>
</body>
</html>