<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/okta}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
    <h2 th:text="'Hi ' + ${profile.get('name')} + '! You are logged in!'"></h2>
    <h1>Invitation</h1>
    <div th:if="${isInvitationSuccessful}">
        <p>You've invited <span th:text="${invitedUser.getUsername()}"></span> successfully</p>
        <p>Temporary password for account activation: <span th:text="${invitedUser.getPassword()}"></span></p>
    </div>
    <div th:if="${not isInvitationSuccessful}">
        <p>The error was encountered while trying to invite:</p>
        <p th:text="${error}"></p>
    </div>
    <a th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>